@{
    ViewBag.Title = "Home Page";
}

<h3>Here is the current configuration</h3>
<ul class="round">
    <li class="one">ConnStr1 = @ViewBag.ConnStr1</li>
    <li class="one">Setting1 = @ViewBag.Setting1</li>
    <li class="one">Setting2 = @ViewBag.Setting2</li>
</ul>